@import "../../../theme/modules/variables";

.pageContainer {
  margin: 0 auto;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100rem;
  padding: 0 1rem;
  @include lg {
    max-width: 80%;
    padding: 0;
  }
  &.fadeInContent {
    animation-timing-function: ease-out;
    animation: fadein 1s;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
