@import "../../../theme/modules/variables";

.btn {
  background: transparent;
  width: 100%;
  text-align: center;
  margin: 0.7rem auto;
  cursor: pointer;
  max-width: 18rem;
  letter-spacing: 0.1rem;
  padding: 0.8rem 1.4rem;
  text-transform: uppercase;
  border-radius: 0;
  position: relative;
  text-decoration: none;
  color: $default-font-color;
  border: 0.2rem solid $default-font-color;
  overflow: hidden;
  transition: $default-transition;
  backface-visibility: hidden;
  &:hover {
    border-color: $primary-color;
    color: $primary-color;
    box-shadow: $inputs-box-shadow;
  }
  &.raise {
    &:hover, &:focus {
      box-shadow: 0 0.7rem 1.4rem -0.7rem lighten($default-font-color, 25%);
      transform: translateY(-0.1rem);
    }
  }
  &.primary {
    border-color: $primary-color;
    color: $primary-color;
    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
    &.raise {
      &:hover, &:focus {
        box-shadow: 0 0.7rem 1.4rem -0.7rem $secondary-color;
      }
    }
  }
  &.fullWidth {
    display: block;
    width: 100%;
  }
  &.disabled {
    opacity: .4;
    cursor: not-allowed;
  }
}

